<div id="mainDiv">
    <div class="row">
        <div class="row">
            <div class="col s12">
                <br><h4>Edit Shift</h4>
            </div>
        </div>
    
    <!--   need to modify the route/query so this updates the shift. -->
        <form class="col s12" method="POST" action="/editShift">

            <input id='JobIdHidden' type="hidden" name="shiftIdHidden" value="{{this.shift.JobId}}">

            <!--jobID INT-->
            <div class="input-field col s12">
                <select name="JobId" id="jobID" required>
                    <option value="" disabled selected>Click here to choose a job</option>
                    {{#each job}}
                        <option value="{{this.id}}">{{this.job_name}}</option>
                    {{/each}}
                </select>
                <label>Job Selector</label>
            </div>

            <!--totalWalkedWith DECIMAL(10,2)-->
            <div class="input-field col s12">
                <input name="totalWalkedWith" id="totalWalkedWith" type="number" step="0.01" min="0" max="100000" class="validate" value="{{this.shift.totalWalkedWith}}" required>
                <label for="totalWalkedWith" class="active">Total walked with</label>                                          
            </div>
         
            <!--largestTip DECIMAL(10,2)-->
            <div class="input-field col s12">
                <input name="largestTip" id="largestTip" type="number" step="0.01" min="0" max="100000" class="validate" value="{{this.shift.largestTip}}">
                <label for="largestTip" class="active">Largest tip</label>
            </div>

            <!--smallestTip DECIMAL(10,2)-->
            <div class="input-field col s12">
                <input name="smallestTip" id="smallestTip" type="number" step="0.01" min="0" max="100000" class="validate" value="{{this.shift.smallestTip}}">
                <label for="smallestTip" class="active">Smallest tip</label>
            </div>

            <!--stiffed INT(10)-->
            <div class="input-field col s12">
                <input name="stiffed" id="stiffed" type="number" class="validate" value="{{this.shift.stiffed}}">
                <label for="stiffed" class="active">Number of times stiffed (hopefully zero!)</label>
            </div>

            <!--sales DECIMAL(10,2)-->
            <div class="input-field col s12">
                <input name="sales" id="sales" type="number" step="0.01" min="0" max="100000" class="validate" value="{{this.shift.sales}}" required>
                <label for="sales" class="active">Sales</label>
            </div>

            <!--ppa DECIMAL(10,2)-->
            <div class="input-field col s12">
                <input name="ppa" id="ppa" type="number" step="0.01" min="0" max="100000" class="validate" value="{{this.shift.ppa}}">
                <label for="ppa" class="active">PPA</label>
            </div>

            <!--tipout DECIMAL(10,2)-->
            <div class="input-field col s12">
                <input name="tipout" id="tipout" type="number" step="0.01" min="0" max="100000" class="validate" value="{{this.shift.tipout}}">
                <label for="tipout" class="active">Total tipped out</label>
            </div>

            <!--tipPercent DECIMAL(10,2)-->
            <div class="input-field col s12">
                <input name="tipPercent" id="tipPercent" type="number" step="0.01" min="0" max="100000" class="validate" value="{{this.shift.tipPercent}}">
                <label for="tipPercent" class="active">Tip %</label>
            </div>

            <!--bwl DECIMAL(10,2)-->
            <div class="input-field col s12">
                <input name="bwl" id="bwl" type="number" step="0.01" min="0" max="100" class="validate" value="{{this.shift.bwl}}">
                <label for="bwl" class="active">BWL %</label>
            </div>

            <!--comments MEDIUMBLOB-->
            <div class="input-field col s12">
                <textarea name="comments" id="comments" class="materialize-textarea">{{this.shift.comments}}</textarea>
                <label for="comments" class="active">Comments</label>
            </div>

            <!--breakthroughs MEDIUMBLOB-->
            <div class="input-field col s12">
                <textarea name="breakthroughs" id="breakthroughs" class="materialize-textarea">{{this.shift.breakthroughs}}</textarea>
                <label for="breakthroughs" class="active">Breakthroughs</label>
            </div>

            <!--shiftDate DATE-->
            <div class="input-field col s12">
                <input name="shiftDate" id="shiftDate" type="date" class="datepicker" value="{{this.shift.shiftDate}}" required>
                <label for="shiftDate" class="active">Click here to select a date for this shift</label>
            </div>

            <input type="hidden" id="hiddenCal" name="hiddenCal" value="{{this.shift.shiftDate}}">

            <!--timeIn TIMESTAMP NOT NULL-->
            <br><br><br><br>
            <input type="range" min="0" max="95" value="48" step="1" class="timeRun" id="inTime" oninput="showInTime(this.value)" required/><br><span id="inTimeSpan">In-time: {{this.shift.timeIn}}</span><br><br>
            <input id='inTimeHidden' type="hidden" name="timeIn" value="{{this.shift.timeIn}}">

            <!--timeOut TIMESTAMP NOT NULL-->
          <input  type="range" min="0" max="95" value="48" step="1" class="timeRun" id="outTime" oninput="showOutTime(this.value)" required/><br><span id="outTimeSpan">Out-time: {{this.shift.timeOut}}</span><br><br>
            <input id='outTimeHidden' type="hidden" name="timeOut" value="{{this.shift.timeOut}}">

            <!--shiftType VARCHAR(32)-->
            <select name="shiftType" id="shiftType">
              <option value="" disabled selected>Click here to choose the shift type</option>
              <option value="breakfast">Breakfast</option>
              <option value="brunch">Brunch</option>
              <option value="lunch">Lunch</option>
              <option value="dinner">Dinner</option>
              <option value="double">Double</option>
              <option value="openToClose">Open to Close</option>
            </select>
            <label>Shift type</label>
            <input type="hidden" id='shiftTypePopulate' value="{{this.shift.shiftType}}">

             <input type="hidden" name="shiftID" value="{{this.shift.id}}">
    <div class="row">
    <div class="col s6">
            <button class="btn waves-effect waves-light" type="submit">Update Shift</button>
    </div>
    <div class="col s6">
              <button data-target="modal1" class="btn">Delete Shift</button>
    </div>
    
    </div>
        </form>

      <!--   need to modify the route/query so this deletes the shift. -->
        
    </div>
</div>

  <div id="modal1" class="modal">
    <div class="modal-content">
      <h5>Are you sure you want to delete this Shift?</h5>
      <div class="row">
      <form action="/deleteShift{{this.shift.id}}?" method="POST"><button class="btn waves-effect waves-light" type="submit">Delete Shift</button></form>
      </div>
      <button class="btn waves-effect waves-light" onclick="closeModal()">Nevermind</button>
    </div>
  </div>

     

<script type="text/javascript" src="./javascript/shift.js"></script>